<div class="header">
  <img src="assets/images/logo.svg" alt="wam-logo">

  <div class="header__buttons">
    <div class="header__single-button" (click)="onNavToInProgress()">
      <img src="assets/images/help.svg" alt="help">
      <button mat-flat-button>
        <div>{{ 'MAIN.HEADER.HELP' | translate}}</div>
      </button>
    </div>

    <div class="header__single-button" (click)="onNavToHome()">
      <img src="assets/images/sign_in.svg" alt="sign">
      <button mat-flat-button>
        <div>{{ 'MAIN.HEADER.SIGN_IN' | translate}}</div>
      </button>
    </div>

    <div *ngIf="languageList">
      <mat-form-field custom-small>
        <mat-select [value]="selectedLanguage.locale" (selectionChange)="onSetLanguage($event)">
          <mat-option *ngFor="let option of languageList" [value]="option.locale">
            {{option.text | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="header__menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onNavToInProgress()">
        {{ 'MAIN.HEADER.HELP' | translate}}
      </button>
      <button mat-menu-item (click)="onNavToHome()">
        <div>{{ 'MAIN.HEADER.SIGN_IN' | translate}}</div>
      </button>
      <button mat-menu-item>
      {{ 'MAIN.HEADER.LANGUAGE' | translate}} : {{ selectedLanguage.text | translate}}
      </button>
    </mat-menu>
  </div>

</div>
