@import '../../../../theme/custom.scss';

.header {
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 154px;

  @include screen-tablet {
    padding: 0 30px;
  }

  @include screen-mobile {
    padding: 0 16px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    @include screen-mobile {
      display: none;
    }
  }

  &__single-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & img {
      width: 20px;
      margin-right: 10px;
    }

    button {
      padding: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      padding-right: 30px;
    }
  }

  &__menu {
    display: none;

    @include screen-mobile {
      display: inline;
    }
  }
}
