<mat-card custom-palette>
  <mat-card-header class="header">
    <div class="header__title pb-s">{{'STEP1.TITLE' | translate}}</div>
    <div class="header__subtitle pb-l">{{'STEP1.SUBTITLE' | translate}}</div>
  </mat-card-header>

  <mat-card-content class="content">
    <form [formGroup]="userForm" class="form" (ngSubmit)="onContinue()">
      <mat-form-field appearance="outline">
        <mat-label>{{'STEP1.NAME_LABEL' | translate}}</mat-label>
        <input matInput required formControlName="name">
        <mat-error *ngIf="userForm.get('name').errors?.required">
          {{'MAIN.DATA_IS_REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="userForm.get('name').errors?.validNonSpecialAndNumberCharacter">
          {{'MAIN.INVALID_CHARACTERS' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'STEP1.LASTNAME_LABEL' | translate}}</mat-label>
        <input matInput required formControlName="lastname">
        <mat-error *ngIf="userForm.get('lastname').errors?.required">
          {{'MAIN.DATA_IS_REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="userForm.get('lastname').errors?.validNonSpecialAndNumberCharacter">
          {{'MAIN.INVALID_CHARACTERS' | translate}}
        </mat-error>
      </mat-form-field>
    </form>
    <div>
      <button mat-flat-button class="button-next" [disabled]="checkContinueIsDisabled()" (click)="onContinue()">
        {{'MAIN.CONTINUE' | translate}}
        <img src="assets/images/next-arrow.svg" alt=next>
      </button>
    </div>
  </mat-card-content>
 </mat-card>

