@import 'responsive';
@import 'components/components.scss';


.pt-s {
  padding-top: 12px;
}

.pb-s {
  padding-bottom: 12px;
}

.pl-s {
  padding-left: 12px;
}

.pr-s {
  padding-right: 12px;
}

.pt-sm {
  padding-top: 22px;
}

.pb-sm {
  padding-bottom: 22px;
}

.pl-sm {
  padding-left: 22px;
}

.pr-sm {
  padding-right: 22px;
}

.pt-l {
  padding-top: 40px;
}

.pb-l {
  padding-bottom: 40px;
}

.pl-l {
  padding-left: 40px;
}

.pr-l {
  padding-right: 40px;
}

[responsive-breakpoints] {
  margin: 0 154px;
  box-sizing: border-box;
  padding: 0;


  @include screen-tablet {
    margin: 0 30px;

  }

  @include screen-mobile {
    margin: 0;
  }
}
