@import '../../../../theme/custom.scss';

.footer {
  width: 100%;
  height: 100px;
  background-color: white;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 154px;

  @include screen-tablet {
    padding: 0 30px;
  }

  @include screen-mobile {
    padding: 0 16px;
  }
}